---
import Layout from "../layouts/Layout.astro";
import ScarecrowImg from "../images/scarecrow.webp";
import { Image } from "astro:assets";
---

<Layout title="404 Not Found" description="Page not found">
  <div class="flex flex-col items-center text-center">
    <header class="mt-8 mb-8">
      <span class="text-4xl font-bold text-accent"> 404 NOT FOUND</span>
    </header>
    <Image
      src={ScarecrowImg}
      alt="scarecrow image"
      width="300"
      height="300"
      class="shadow-lg rounded-lg"
    />
    <section class="mt-8">
      <h1 class="text-5xl font-bold mt-8 tracking-tighter">
        I have bad news for you...
      </h1>
      <p class="mt-4 text-lg text-custom-gray">
        The page you are looking for might be removed or is temporarily
        unavailable
      </p>
    </section>
    <footer class="mt-8">
      <p class="text-custom-gray text-xs">
        404 page by
        <a
          href="https://github.com/OnlyManu/"
          class="hover:text-accent transition-colors duration-300">onlymanu</a
        >
      </p>
    </footer>
  </div>
</Layout>
