---
import ContactMe from "../components/ContactMe.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import jsollyLargeImage from "../images/jsollyLarge.webp";

const socialLinks = [
    {
        href: "https://twitter.com/_jsolly",
        text: "X",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://www.linkedin.com/in/jsolly/",
        text: "Linkedin",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://github.com/jsolly",
        text: "Github",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw",
        text: "Youtube",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://blogthedata.com",
        text: "Blog",
        rel: "me",
    },
];
---

<Layout
    title="About John Solly"
    description="Learn more about John Solly and his work in the geospatial industry."
>
    <div class="about-card p-4 rounded-lg">
        <Image
            src={jsollyLargeImage}
            alt="John Solly Profile Picture"
            class="about-me-img w-full md:w-1/2 lg:w-1/3 rounded-lg h-auto mb-2"
            height="300"
        />
        <div class="about-me-content">
            <ul class="social-links flex flex-wrap gap-2 mb-2 text-sm">
                {
                    socialLinks.map((link) => (
                        <li class="mr-2">
                            <a
                                href={link.href}
                                rel={
                                    link.rel ? link.rel : "noopener noreferrer"
                                }
                                target="_blank"
                            >
                                {link.text}
                            </a>
                            <span class="ml-2">|</span>
                        </li>
                    ))
                }
            </ul>
            <div class="about-me-text text-lg">
                <p>
                    With over a decade of experience in the geospatial industry,
                    I specialize in full-stack development of GIS applications.
                    I currently serve as a senior software engineer at New Light
                    Technologies (NLT), contributing to some of their largest
                    and most influential projects.
                </p>
                <p>
                    Throughout my career, I've built applications on platforms
                    like Esri and Mapbox while also leveraging open-source GIS
                    technologies such as OpenLayers, GeoServer, and GDAL. This
                    site showcases my projects and is where I share useful
                    articles with the GeoDev community. Check out my
                    <a href="/showcase">showcase</a> to see my latest work!
                </p>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <ContactMe />
</Layout>

<style>
    /* Hide the last pipe in the social links */
    .social-links li:last-child span {
        display: none;
    }
</style>
