---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="JohnSolly.dev">
	<h1>Welcome to <span class="text-gradient">JohnSolly.dev</span></h1>
	<ul role="list" class="link-card-grid">
		<Card
			href="/showcase/"
			title="Showcase"
			snippet="A portfolio of my geospatial and software projects, showcasing innovative solutions and impactful results."
		/>
		<Card
			href="https://blogthedata.com"
			title="Blog"
			snippet="Insights on software engineering, geospatial analysis, and tech trends. My thoughts, tutorials, and more."
		/>
		<Card
			href="/consulting/"
			title="Consulting"
			snippet="Professional consulting in geospatial applications, DevOps, and software optimization. Tailored tech solutions."
		/>
		<Card
			href="/about/"
			title="About"
			snippet="Learn more about me, my background, and my professional journey."
		/>
	</ul>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
