---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
---

<Layout
	title="John Solly's Personal Website"
	description="Welcome to JohnSolly.dev, the personal website of John Solly. Explore my portfolio, blog, and geospatial consulting services."
>
	<h1 class="text-5xl font-bold leading-none text-center my-8">
		Welcome to <span class="text-gradient">JohnSolly.dev</span>
	</h1>
	<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
		<LinkCard
			href="/showcase/"
			title="Showcase"
			snippet="Explore my portfolio featuring projects in geospatial analysis and custom software solutions."
		/>

		<LinkCard
		href="/consulting-services/"
		title="Consulting Services"
		snippet="Enhance your career with personalized services including resume and LinkedIn reviews, career planning sessions, and mock technical interviews."
	  />
	  
		<LinkCard
			href="/about/"
			title="About"
			snippet="Learn more about my background and professional journey."
			rel="author"
		/>
		<LinkCard
			href="https://www.youtube.com/@johnsolly/"
			title="Tutorial Videos"
			snippet="Watch my video tutorials on geospatial analysis, software development, and tech tools."
			rel="me noopener noreferrer"
		/>
		<LinkCard
			href="https://blogthedata.com/post/my-favorite-youtube-channels-podcasts-newsletters/"
			title="Tech Resources"
			snippet="A curated list of my favorite tech resources, newsletters, podcasts, and YouTubers"
		/>
		<LinkCard
			href="https://hackmycareer.lol/"
			title="Career Tools"
			snippet="Access free career tools including resume and cover letter optimizers, and a LinkedIn job search query builder."
		/>
	</ul>
</Layout>
