---
interface Props {
	title: string;
	snippet: string;
	href: string;
	rel?: string;
}

const { title, snippet, href, rel } = Astro.props;
const isRelativeLink = href.startsWith("/") && !href.endsWith(".pdf");
---

<div class="link-card text-lg rounded-lg flex">
    <a
        href={href}
        target={isRelativeLink ? "_self" : "_blank"}
        class="rounded-lg py-6 px-5 no-underline text-inherit bg-accent-dark-overlay-lvl-2"
        rel={rel}
    >
        <h2 class="text-white text-2xl font-bold mb-4 flex justify-between">
            <span class="link-card-title">{title}</span>
            <span>&rarr;</span>
        </h2>
        <p>{snippet}</p>
    </a>
</div>
<style>
    .link-card {
        opacity: 0.8;
        border: 1px solid transparent;
        transition:
            border-color 300ms ease-in-out,
            opacity 300ms ease-in-out;
    }

    .link-card:is(:hover, :focus-within) {
        border-color: rgb(232, 196, 249);
        opacity: 1;
    }
    .link-card:is(:hover, :focus-within) .link-card-title {
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }
</style>
