<head>
    <script src="@scripts/accordion.js"></script>
</head>

<article class="accordion-container">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button
                class="accordion-button"
                type="button"
                aria-expanded="false"
            >
                <span class="accordion-title"
                    >Tap or click to read John Solly's Bio</span
                >
                <span class="accordion-icon">
                    <img
                        id="accordion-expand-collapse-arrow"
                        src="/src/images/svg/accordion_arrow.svg"
                        alt="expand/collapse"
                    />
                </span>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse">
            <div class="accordion-body">
                <img
                    class="bio-image"
                    src="/src/images/gisLecture.webp"
                    alt="John at 2015 AAG conference with Rebecca Rice and Michael Goodchild"
                />
                <p>
                    As a highly skilled geospatial software engineer, I have a
                    wealth of experience blending GIS domain knowledge with
                    full-stack development to create stunning and efficient
                    mapping applications. My academic background includes a
                    bachelor's degree in Geography from UCSB, where I had the
                    privilege of studying under renowned thought leaders Michael
                    Goodchild and Waldo Tobler. I further honed my skills with
                    an M.S. in Geoinformatics and Geospatial Intelligence at
                    George Mason University. After graduation, I played a
                    pivotal role in launching one of the world's most viewed
                    geospatial web applications, <a
                        href="https://www.esri.com/en-us/arcgis/products/arcgis-dashboards/overview"
                        rel="noopener noreferrer"
                        target="_blank">ArcGIS Dashboards</a
                    >, as a product engineer at Esri.
                </p>
                <p>
                    After Esri, I spent a year as an Integration Consultant at a
                    business intelligence startup called YellowfinBI which was
                    aquired by Idera Inc. in 2022. I left Yellowfin after the
                    aquisition to work on this blog while also rasing my son,
                    Justice Solly, who was born 2/20/22. Six months later, I
                    joined University of Maryland as a senior geospatial
                    developer for the <a
                        href="https://easierdata.org"
                        rel="noopener noreferrer"
                        target="_blank">EASIER Data Initiative</a
                    >, a UMD project in collaboration with the <a
                        href="https://ffdweb.org/"
                        rel="noopener noreferrer"
                        target="_blank"
                        >Filecoin Foundation For the Decentralied Web</a
                    >. I was responsible for developing infrastructure that
                    enables efficient, accessible, and sustainable onloading,
                    analysis, and extraction of large geospatial datasets into
                    blockchain-managed decentralized storage systems such as
                    Filecoin and IPFS.
                </p>
                <p>
                    In Fall 2023, I joined <a
                        href="https://www.newlighttechnologies.com/"
                        rel="noopener noreferrer"
                        target="_blank">NLT</a
                    > as a senior software engineer, contributing to some of NLT's
                    largest and most influential projects. I'm now part of a multi-year
                    effort for the <a
                        href="https://www.census.gov/"
                        rel="noopener noreferrer"
                        target="_blank">US Census</a
                    >
                    to develop a web-based geospatial application for the Census
                    Enterprise Dissemination Services and Consumer Innovation (CEDSCI)
                    division.
                </p>

                <p>
                    If you're facing complex geospatial challenges that require
                    an experienced developer's expertise, feel free to <a
                        href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
                        rel="noopener noreferrer"
                        target="_blank">drop me a message</a
                    >. Let's connect and find the perfect fit for a successful
                    collaboration!
                </p>
            </div>
        </div>
    </div>
</article>

<style>
    .bio-image {
        width: 100%;
        max-width: 300px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        margin-right: 1rem;
        float: left;
    }

    .accordion-header {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }

    .accordion-button {
        background-color: transparent;
        padding: 0;
        border: 1px solid rgba(var(--secondary-color-rgb), 0.1);
        font-size: 1.5rem;
        outline: none;
        cursor: pointer;
        color: var(--secondary-color);
        font-weight: inherit;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    .accordion-button:hover {
        background-color: var(--header-background-color);
        color: var(--link-color);
    }

    .accordion-icon {
        font-size: 1rem;
        transition: transform 0.3s ease;
        color: var(--secondary-color);
        flex-shrink: 0;
        margin-right: 1rem;
    }

    .accordion-title {
        flex-grow: 1;
        margin-right: 10px;
    }

    .accordion-collapse {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    .accordion-body {
        padding: 1rem;
    }

    #accordion-expand-collapse-arrow {
        width: 20px;
        height: 20px;
    }

    /* Expanded Accordion Styles */
    .expanded {
        height: auto;
    }

    .accordion-button[aria-expanded="true"] .accordion-icon img {
        transform: rotate(180deg);
        transition: transform 0.2s ease;
    }
    .accordion-button[aria-expanded="false"] .accordion-icon img {
        transform: rotate(0deg);
        transition: transform 0.2s ease;
    }
</style>
