---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="https://blogthedata.com" target="_blank">Blog</a>
    <a href="/John-Solly-Resume.pdf">Resume</a>
</div>
