---
import { Image } from "astro:assets";
import lightHouseScores from "../images/svg/lighthouseScores.svg";
---

<section
    id="PageSpeed-Insights"
    class="page-speed-insights-section text-center text-base mb-6"
>
    <div class="flex justify-center">
        <div class="w-full">
            <figure>
                <figcaption class="figcaption-text pb-4">
                    <a
                        rel="noopener noreferrer"
                        target="_blank"
                        href="https://pagespeed.web.dev/analysis/https-johnsolly-dev/yrajp022nb?form_factor=mobile"
                    >
                        JohnSolly.dev PageSpeed Insights
                    </a>
                </figcaption>
                <Image
                    src={lightHouseScores}
                    alt="Lighthouse scores for JohnSolly.dev: 100 for Performance, Accessibility, Best Practices, and SEO."
                    class="max-w-full h-auto"
                    loading="lazy"
                    decoding="async"
                />
            </figure>
        </div>
    </div>
</section>
