<section id="PageSpeed-Insights" class="page-speed-insights-section">
    <div class="row">
        <div class="column">
            <figure>
                <figcaption class="figcaption-text">
                    <a
                        rel="noopener noreferrer"
                        target="_blank"
                        href="https://pagespeed.web.dev/analysis/https-johnsolly-dev/yrajp022nb?form_factor=mobile"
                    >
                        Blogthedata.com PageSpeed Insights
                    </a>
                </figcaption>
                <img
                    src="/svg/lighthouseScores.svg"
                    alt="Lighthouse scores for blogthedata.com: 100 for Performance, Accessibility, Best Practices, and SEO."
                />
            </figure>
        </div>
    </div>
</section>

<style>
    /* Pagespeed Insights */
    .page-speed-insights-section {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
    }

    .figcaption-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .figcaption-text a {
        color: var(--color-primary);
        text-decoration: none;
    }

    .figcaption-text a:hover {
        text-decoration: underline;
    }

    img {
        width: 100%;
        height: auto;
    }
</style>
