---
interface Props {
    title: string;
}

const { title } = Astro.props;
const isRootPath = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot />
            {
                !isRootPath && (
                    <div class="return-home">
                        <a href="/" class="secondary-btn">
                            Return to Home
                        </a>
                    </div>
                )
            }
        </main>
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-hover: 115, 34, 220;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
        --main-text-color: rgb(161, 161, 170);
        --btn-text-color: rgb(236, 236, 236);
        --link-color: rgb(108, 159, 242);
    }
    html {
        font-family: Arial, sans-serif;
        background: #13151a;
        background-size: 224px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    main {
        margin: auto;
        padding: 2rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: var(--main-text-color);
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .primary-btn {
        display: inline-block;
        background-color: rgb(var(--accent));
        color: var(--btn-text-color);
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .primary-btn:hover {
        background-color: rgb(var(--accent-hover));
        text-decoration: none;
    }

    .secondary-btn {
        display: inline-block;
        background-color: transparent;
        color: var(--btn-text-color);
        padding: 10px 20px;
        border: 2px solid rgb(var(--accent));
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .secondary-btn:hover {
        background-color: rgb(var(--accent));
        text-decoration: none;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    /*
    Do not color the link cards
    */
    li.link-card a {
        color: inherit;
    }
</style>
